body {
  font-family: 'Open Sans', sans-serif;
}

th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th {
    height: 40px;
    text-align: left;
    background-color: rgb(247, 103, 14);
    color: white;
}

th > a {
  color: white;
}

tr:hover {
  background-color: #f5f5f5
}

.form {
  overflow-x: auto;
}

#map {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

.fa-wrench {
  color: darkblue;
  text-align: center;
  padding-left: 7px;
}

.fa-times {
  color: firebrick;
  text-align: center;
  padding-left: 18px;
}

.fa-times-circle-o {
  color: firebrick;
  padding-left: 20px;
}

.btn_back {
  background: transparent;
  color: #333;
  padding: 8px;
  border: 1px solid white;
}
